@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {


    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);
    border-radius: 20px;
}

img {
    max-width: 100%;

}

#banner {

    /* margin-top: 100px;
    margin-bottom: 120px; */
    margin: 100px auto 120px auto;
    padding: 20px 30px;
    width: 87.5%;
    background-image: url(ture_images/hero-bg.png);
    background-color: white;
    border-radius: 40px;
    border: 2px solid #872BFF10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    width: 50%;
}

.banner-image {
    width: 50%;

}

.banner-content * {
    margin-bottom: 20px;
}

.banner-content h1 {
    font-size: 70px;
    font-weight: bold;
}

.banner-content p {
    font-size: 18px;
    font-weight: medium;
    color: #A8A8A8;
}


.banner-content h1 span {
    display: block;
    color: #F411CF;
}


.btn {
    background-color: #872BFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 10px;

}

.explore-btn {
    background-color: #872BFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 60px;
}

.btn-2 {
    background-color: #FFFFFF;
    border: 1px solid #872BFF;
    border-radius: 30px;
    padding: 16px 32px;
    cursor: pointer;
    color: black;
}

.heading-content {
    text-align: center;
}

.heading-content h2 {
    font-size: 44px;
    font-weight: bold;
    color: black;
    margin-bottom: 60px;
}

.heading-content h4 {
    font-size: 24px;
    font-weight: bold;
    color: #F411CF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner-image {
    width: 50%;
}

.banner-image img {
    width: 600px;
}

#service,
#story,
#country,
#reviws {
    width: 87.5%;
    margin: 0 auto 120px auto;

}

#service-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

}

.service-card {


    background-color: white;
    border-radius: 30px;
    max-width: 350px;
    padding: 40px 20px;
    text-align: center;


}

.service-card img {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

.service-card h2 {
    font-size: 28px;
    font-weight: semibold;
    margin-bottom: 30px;
}

.service-card p {
    font-size: 18px;
    font-weight: medium;
    color: #A8A8A8;
}

.story-card {

    display: flex;

    /* justify-content: space-between;
    align-items: center; */
    gap: 32px;
    background-color: white;
    padding: 48px;
    border-radius: 24px;

}

/* .story-content * {
    margin-bottom: 12px;

} */

.story-content h2 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E80;
    margin-bottom: 12px;
}

.story-image {
    width: 40%;
}

.story-content {
    width: 60%;
}

.story-content img {
    width: 100px;
    /* height: 66.6px; */
    /* margin-right: 16px; */
    margin-bottom: 12px;
}

.story-content p {
    font-size: 16px;
    font-weight: regular;
    /* line-height: 20px; */
    margin-bottom: 20px;
    color: #0E0E0E70;
}

.story-image {
    /* width: 408px; */
    /* height: 306px; */
    border-radius: 24px;

}

#country {
    text-align: center;
}

#country-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 60px;

}

#country-card-container h3 {
    font-size: 32px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #0E0E0E15;
    font-weight: bold;
    color: #0E0E0E80;
    padding: 30px;
    cursor: pointer;
}

#reviws {
    width: 90%;
    margin: 0 auto 120px auto;

}

.review-content {
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    position: relative;

    margin-bottom: 60px;



}

.text-content {
    margin-bottom: 58px;

}

.text-content p {
    font-size: 14px;
    font-weight: regular;
    color: #0E0E0E80;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 24px;
}

/* .user-review {
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;

    gap: 60px;
} */
.user-face {

    height: 65px;
    width: 65px;
    margin: auto auto;

    border-radius: 50%;
    overflow: hidden;
    /* position: absolute; */

    /* bottom: 75px;
    left: 540px; */


}

/* .user-face img {
    position: relative;
} */

.user-name {

    text-align: center;
}

.user-name h3 {

    font-size: 18px;
    font-weight: semibold;
    color: #0E0E0E80;
}


.user-name p {
    font-size: 14px;
    font-weight: regular;
    color: #0E0E0E60;
    margin-bottom: 8px;
}

.star img {
    position: absolute;
    width: 220px;
    height: 30px;
    bottom: 45px;
    right: 20px;
    opacity: 50%;
}

footer {
    width: 100%;
    margin: 120px auto 0 auto;
    background-color: #F3F3F3;

}

.footer-content {

    padding: 9px 70px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 14px;
    font-weight: regular;
    color: #5B5757;
}

.social-media img {
    width: 27px;
    height: 27px;
    margin: 0 15px;

}



#header {
    width: 100%;
    height: 80px;
    background-color: rgb(41, 36, 36);
    box-shadow: rgb(41, 36, 36) 5px 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.logo img {
    width: 350px;
    height: 200px;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.nav ul li {
    list-style: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger img {
    width: 30px;
    height: 30px;
}